.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    &.s {
        width: 137px;
        height: 47px;
        font-size: 14px;
        font-weight: 700;
    }
    &.m {
        width: 157px;
        height: 47px;
        font-size: 14px;
        font-weight: 700;
    }
    &.l {
        width: 220px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
    }

    &.default {
        background: #FF7400;
        color: #ffffff;
    }
    &.primary {
        background: #D67E34;
        color: #ffffff;
    }
    &.max {
        width: 100px;
    }
}