.btn {
    border: none;

    &.s {
        font-size: 14px;
        font-weight: 700;
        width: 137px;
        height: 47px;
    }

    &.m {
        font-size: 14px;
        font-weight: 700;
        width: 157px;
        height: 47px;
    }

    &.l {
        font-size: 16px;
        font-weight: 700;
        width: 220px;
        height: 50px;
    }

    &.primary {
        color: #ffffff;
        background: #FF7400;
        transition: all 0.5s ease;

        &:hover {
            background: #9d4700;
        }
    }

    &.default {
        color: #ffffff;
        background: #D67E34;
    }

    &.max {
        width: 100px;
    }
}