.menu {
    width: 100%;
    background-image: url(../../../shared/assets/png/menu_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}

.cards_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    position: relative;
}

.card_menu {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: #ffffff;
    border-radius: 15px;
    margin-top: 200px;

    div {
        margin-top: 55px;
    }
}

.burger_card {
    margin-left: 53px;
    margin-top: 70px;
}

.close_btn {
    transition: all 0.3s ease;
    &:hover {
        background: #ffffff;
        transform: scale(1.1);
    }
}


.burger_modal {
    width: 300px;
    margin-top: 20px;
}

.menu_aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 375px;
    margin-left: 140px;
    margin-top: -125px;
    overflow-y: auto;
  
}

.text_burger {
    height: 140px;
    margin-top: 15px;
}

.text_burger2 {
    margin-top: 8px;
}

  .text_menu {
    margin-top: 12px;
  }

  .text_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 27px;
    margin-top: 7px;

    gap: 10px;
  }

.cards_sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 0.1px solid rgb(235, 235, 235);
    
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); 
    transition: all 0.5s ease;
}

.item1 {
    width: 200px;
    text-align: left;
}
.item2 {
    width: 133px;
    text-align: left;
}
.item3 {
    width: 125px;
    text-align: left;
}
.item4 {
    width: 133px;
    text-align: left;
    margin-left: 10px;
}
