    .fz24 {
        color: #ffffff;
        font-size: 24px;
    }

    .fz26 {
        color: #ffffff;
        font-size: 26px;
    }

    .fz28 {
        color: #ffffff;
        font-size: 28px;
    }

    .fz30 {
        color: #ffffff;
        font-size: 30px;
    }

    .fz32 {
        color: #ffffff;
        font-size: 32px;
    }

    .fz40 {
        color: #ffffff;
        font-size: 40px;
    }

    .fz52 {
        color: #ffffff;
        font-size: 52px;
    }

    .fz54 {
        color: #ffffff;
        font-size: 54px;
    }

    .fz80 {
        color: #ffffff;
        font-size: 80px;
    }

    .fw400 {
        font-weight: 400;
    }

    .fw500 {
        font-weight: 500;
    }

    .fw600 {
        font-weight: 600;
    }

    .fw700 {
        font-weight: 700;
    }