.home {
    width: 100%; 
    background-image: url(../../../shared/assets/png/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.logo {
    position: absolute;
    top: 50px;
    left: 165px;
}

