.dishes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;

    .ret,
    .ret2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: -1365px;
        margin-top: 11px;

        span {
            font-size: 15px;
            font-weight: 500;
        }

        img {
            width: 40px;
            margin-left: 3px;
        }
    }

    .ret2 {
        position: absolute;
        margin-left: 1363px;
    }

    .dishes_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .images_dishes {
            display: flex;
            margin-top: 50px;

            .burgers_block {
                margin-left: 19px;
                margin-top: 25px;

                .burger_item,
                .burger_item2 {

                    img {
                        width: 104.5px;
                        height: 104.5px;
                    }

                    span {
                        margin-left: 19px;
                    }
                }

                .burger_item2 {
                    margin-top: 19px;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {

    .dishes {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .ret,
        .ret2 {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            z-index: 10;
            margin-left: 0 !important;

            span {
                font-size: 15px;
                font-weight: 500;
            }

            img {
                width: 40px;
                margin-left: 3px;
            }
        }

        .ret {
            left: 20px;
        }

        .ret2 {
            right: 20px;
        }

        .dishes_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .images_dishes {
                display: flex;
                margin-top: 50px;

                .burgers_block {
                    margin-left: 19px;
                    margin-top: 25px;

                    .burger_item,
                    .burger_item2 {

                        img {
                            width: 104.5px;
                            height: 104.5px;
                        }

                        span {
                            margin-left: 19px;
                        }
                    }

                    .burger_item2 {
                        margin-top: 19px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .dishes {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .ret,
        .ret2 {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            z-index: 10;
            margin-left: 0 !important;

            span {
                font-size: 14px;
                font-weight: 500;
            }

            img {
                width: 35px;
                margin-left: 3px;
            }
        }

        .ret {
            left: 20px;
        }

        .ret2 {
            right: 20px;
        }

        .dishes_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img[src*="dishes_logo"] {
                width: 200px;
            }

            .images_dishes {
                display: flex;
                margin-top: 50px;

                img[src*="dishes_pizza"] {
                    width: 300px;
                }

                .burgers_block {
                    margin-left: 19px;
                    margin-top: 24px;


                    .burger_item,
                    .burger_item2 {

                        img {
                            width: 93.5px;
                            height: 93.5px;
                        }

                        span {
                            margin-left: 19px;
                        }
                    }

                    .burger_item2 {
                        margin-top: 19px;
                    }
                }
            }
        }
    }
}