.galerydishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;

    .img_textdishes {}

    section {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        article {

            img {
                width: 450px;
            }

            .galarydishes_article {
                margin-left: 1px;
                margin-top: 20px;

                .image1 {
                    width: 212.5px;
                }

                .image2 {
                    width: 210.5px;
                    margin-left: 25px;
                }
            }
        }

        .section2 {
            margin-left: 21px;
            margin-top: -20px;
            position: relative;

            .image3 {
                width: 450px;
                position: absolute;
                right: 1px;
                margin-top: 20px;
            }
        }
    }
}