.galerydishes {
    width: 100%;
    height: 100vh;
    border: 1px solid red;
}

.galerydishes_section {
    margin-top: -20px;
}

.img_textdishes {
    position: absolute;
    top: 0;
    left: 744px;
    margin-top: 80px;
}

.galarydishes_article {
    margin-top: 20px;
}