.reviews {
    width: 100%;
    height: 1600px;
    border: 1px solid rgb(0, 0, 0);

    background-image: url(../../../shared/assets/png/reviews.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-top: 40px;
}

.text_about {
    color: #ffffff;
    position: relative;
    margin-top: 80px;
}

.text1 {
    text-align: start;
    float: left;
    margin-left: 260px;
}
.text2 {
    float: left;
    text-align: end;
    margin-left: -208px;
    margin-top: 20%;
}
.text3 {
    font-weight: 500;
    text-align: center;
    float: right;
    margin-top: 85px;
}

.text_carousel {
    text-align: center;
    margin-left: 1px;
    margin-top: 15px;
}