.navbar {
  display: flex;
  align-items: center;
  height: 64px;
  z-index: 100px;
  margin-left: 90px;
  margin-top: 50px;

  .nav_body {
    display: flex;
    align-items: center;
    color: #9d4700;
    cursor: pointer;
    position: relative;

    .logo {
      position: absolute;
      left: -30px;
      top: 22px;
    }

    ul {
      margin-left: 338px;
      margin-top: 3px;
    }

    ul li {
      display: inline-block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      margin-right: 23px;
      transition: all 0.3s ease;

      &:hover {
        color: red;
        transform: scale(1.2);
      }
    }

    .contact_block {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-left: 14px;
        margin-top: -17px;
      }

      .line {
        margin-left: 21px;
        margin-top: 1px;
      }

      .contact_txt {
        margin-left: 20px;
        margin-top: 26px;

        img {
          margin-top: 0px;
        }

        span {
          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          transition: all 0.3s ease;
          margin-left: 8px;

          &:hover {
            color: red;
          }
        }

        .contact_txt2 {
          margin-left: 15px;
        }

        .contact_txt2,
        p {
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .btn {
      margin-left: 45px;

      .btn_text {
        color: #ffffff;
        text-decoration: none;
      }
    }

  }
}

.text {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: red;
    transform: scale(1.2);
  }
}

@media(min-width: 1200px) and (max-width: 1440px) {

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border: 1px solid white;
    z-index: 100px;
    margin-left: 0;
    margin-top: 50px;

    .nav_body {
      display: flex;
      align-items: center;
      color: #9d4700;
      cursor: pointer;
      position: relative;

      .logo {
        position: absolute;
        left: 0;
        top: 22px;
      }

      ul {
        margin-left: 338px;
        margin-top: 3px;
      }

      ul li {
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        margin-right: 23px;
        transition: all 0.3s ease;

        &:hover {
          color: red;
          transform: scale(1.2);
        }
      }

      .contact_block {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-left: 14px;
          margin-top: -17px;
        }

        .line {
          margin-left: 21px;
          margin-top: 1px;
        }

        .contact_txt {
          margin-left: 20px;
          margin-top: 26px;

          img {
            margin-top: 0px;
          }

          span {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            transition: all 0.3s ease;
            margin-left: 8px;

            &:hover {
              color: red;
            }
          }

          .contact_txt2 {
            margin-left: 15px;
          }

          .contact_txt2,
          p {
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .btn {
        margin-left: 45px;

        .btn_text {
          color: #ffffff;
          text-decoration: none;
        }
      }

    }
  }

  .text {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: red;
      transform: scale(1.2);
    }
  }
}


@media(min-width: 992px) and (max-width: 1199px) {

  .navbar {
    display: flex;
    align-items: center;
    height: 64px;
    border: 1px solid white;
    z-index: 100px;
    margin-left: 0px;
    margin-top: 50px;

    .nav_body {
      display: flex;
      align-items: center;
      color: #9d4700;
      cursor: pointer;
      position: relative;

      .logo {
        width: 93px;
        position: absolute;
        left: 0;
        top: 20px;
      }

      ul {
        margin-left: 140px;
        margin-top: 9px;
      }

      ul li {
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        margin-left: 0px;
      }

      .contact_block {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .cart {
          position: absolute;
          margin-left: 67px;
          margin-top: -10px;
        }

        .line {
          position: absolute;
          margin-right: 280px;
          margin-top: 1px;
        }

        .contact_txt {
          margin-left: 122px;
          margin-top: 26px;

          img {
            width: 22px;
            margin-top: 0px;
          }

          span {
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            transition: all 0.3s ease;
            margin-left: 8px;

            &:hover {
              color: red;
            }
          }

          .contact_txt2 {
            margin-left: 15px;
          }

          .contact_txt2,
          p {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .btn {
        margin-left: 45px;

        .btn_text {
          color: #ffffff;
          text-decoration: none;
        }
      }

    }
  }

  .text {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: red;
      transform: scale(1.2);
    }
  }
}

// @media (min-width: 768px) and {}

@media (max-width: 600px) {}

@media (max-width: 543px) {}

@media(max-width: 480px) {}

@media(max-width: 320px) {}