.navbar {
    width: 742px;
    height: 64px;
    margin-left: 533px;
    margin-top: -688px;
}

.nav_sections {
    margin-left: -41px;
    color: #9d4700;
    margin-top: 20px;
    cursor: pointer;
}
  
  ul li {
    display: inline-block; 
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 23px;   
    transition: all 0.3s ease;


    &:hover {
        color: red;
        transform: scale(1.2);
    }
}

.a {
  color: #ffffff;
  transition: all 0.3s ease;
  &:hover {
   color: red;
   transform: scale(1.2);
  }
}

  .nn {
    background: #fff;
  }
  .modal_description {
    font-size: 13px;
    color: gray;

  }

  .cards {
    transition: all 0.5s ease;

    &:hover{
      transform: translateY(10px);
    }
  }

  @media(max-width: 1285.60px) {
    
  }
   
  
  @media(max-width: 992px) {
    
    
  }
  @media (max-width: 768px) {
    
  }

  @media (max-width: 600px) {
    
  }
  @media (max-width: 543px) {
    
  }
  
  @media(max-width: 480px) {
   

  }
  @media(max-width: 320px) {
   

  }