@import '../../../styles/variables.scss';

article {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: $outline-color;
    border-radius: 15px;
    margin-top: 200px;

    img {
        cursor: pointer;
    }

    div {
        margin-top: 82px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            display: block;
            text-align: center;
            font-size: 13.5px;
        }

        .btn {
            width: 175px;
            height: 40px;
            color: $outline-color;
            background: $primary-color;
            margin-left: 60px;
            margin-top: 20px;
            transition: all 0.3s ease;

            &:hover {
                background: $outline-color2;
            }
        }
    }
}