@import '../../../styles/variables.scss';

article {
    display: inline-block;
    width: 300px;
    height: 450px;
    background: $outline-color;
    border-radius: 15px;
    margin-top: 200px;
    position: relative;

    .recommend {
        display: flex;
        justify-content: center;
        width: 124px;
        height: 36px;
        background: $primary-color;
        border-radius: 15px 0px 0px 0px;
        position: absolute;
        left: 0;
        top: -22px;

        span {
            color: $default-color;
            font-size: 13px;
            font-weight: 400;
        }
    }

    img {
        cursor: pointer;
        margin-left: 54px;
        margin-top: 75px;
    }

    .circle_price {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $outline-color;
        position: absolute;
        margin-left: 52%;
        margin-top: -26%;

        .circle_price2 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 87px;
            height: 87px;
            border-radius: 50%;
            background: $primary-color;
            margin-top: 7px;

            span {
                color: $outline-color;
            }
        }

    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 22px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            display: block;
            text-align: center;
            font-size: 13.5px;
            padding: 0;
        }

        .btn {
            color: $outline-color;
            background: $primary-color;
            margin: -16px;
            box-shadow: 0px 1px 5px gray;
            transition: all 0.3s ease;

            &:hover {
                box-shadow: none;
                background: $outline-color2;
            }
        }
    }
}